{% extends 'layouts/base.html.twig' %}

{% block title 'Edit site #' ~ site.id %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Edit site #{{ site.id }}</h1>
            <!--Ici on charge notre formulaire qu'on a isolé pour éviter les répétitions-->
            {{ include('sites/_form.html.twig', {'submitButtonText': 'Enregistrer'}) }}
        </div>
    </div>
{% endblock %}