{% extends 'layouts/base.html.twig' %}

{% block title 'BGS\' WP Sites' %}

{% block body %}
<main role="main" class="container">
<h1 class="text-center"><u>Nos sites WordPress  </u></h1></br>
    {% if sites|length > 0 %}
        {{ include('sites/_Tableau.html.twig') }}
    {% else %}
        <p>Désolé, aucun site à afficher! Cliquez <a href="{{ path('app_sites_create') }}">ici </a>pour ajouter votre premier site!</p>
    {% endif %}
</main>
{% endblock %}
