{% extends 'layouts/base.html.twig' %}

{% block title 'Message de réinitialisation' %}

{% block body %}
    <p>Un email contenant un lien cliquable vient de vous être envoyé. Ce lien expire dans {{ tokenLifetime|date('g') }} heure(s).</p>
    <p>Si vous ne recevez pas le mail, merci de vérifier votre courrier indésirable ou <a href="{{ path('app_forgot_password_request') }}">Essayez de nouveau</a>.</p>
{% endblock %}
