{% extends 'layouts/base.html.twig' %}

{% block title 'Réinitialisation Mot de passe' %}

{% block body %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center">Réinitialisez votre mot de passe</h1>
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-error mb-3 rounded" role="alert">{{ flashError }}</div>
            {% endfor %}
                <div>
                    <p class="mb-5 text-center text-muted">
                        Saisissez votre adresse mail 
                        afin de recevoir un lien de réinitialisation de votre mot de passe.
                    </p>
                </div>

            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}

                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    Envoyer le mail de réinitialisation
                </button>
            {{ form_end(requestForm) }}
        </div>
    </div>
</main>
{% endblock %}