{% extends 'layouts/base.html.twig' %}

{% block title 'Nouveau mot de passe' %}

{% block body %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center">Votre nouveau mot de passe</h1>

            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Valider la réinitialisation</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
</main>
{% endblock %}
