<footer class="container text-center mt-5">
    <div class="container">
        <p class="text-muted">
            <small>
                    <img src="https://www.bgs-associes.com/wp-content/uploads/2018/10/Logo1-copie.png" alt="BGS' WP sites">
                    {{ 'now'|date('Y') }} <span class="text-success">&check;</span>
                    <span class="text-info">
                    BGS Associés, France - 223 Rue de Charenton 75012 PARIS
                </span>
            </small>
        </p>
    </div>
</footer>