{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'layouts/base.html.twig' %}

{% block body %}
<div class="text-center">
    <h1>Ooooouuuups!! Cette page n'existe pas!</h1>
    <img src="/images/gandalf.jpg" alt="You Shall not pass!!!" class="m-5">

    <p>
        La page demandée n'existe pas. Vérifiez le chemin ou 
        <a href="{{ path('app_home') }}">revenez à la page d'accueil</a>.
    </p>
</div>
{% endblock %}